
<nav class="navbar navbar-expand-sm bg-white navbar-dark">
  <div class="container-fluid">
    <div class="logo"></div>
    <a class="navbar-brand text-dark" routerLink="#">CUTMLMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="header">
      <div class="search-container">
          <div lang="en" locale="en_US" class="ud-search-form-autocomplete desktop-header_search-bar__XKKoS ud-form-group">
              <form action="/courses/search/" class="ud-search-form-autocomplete-input-group ud-search-form-autocomplete-input-group-reversed">
                  <input type="hidden" name="src" value="ukw">
                  <input type="text" aria-invalid="false" name="q" data-testid="search-input" placeholder="Search for anything" autocomplete="off" value role="combobox" aria-autocomplete="both" aria-haspopup="true" aria-expanded="false" aria-controls="search-form-autocomplete--2108-menu-content-items" id="search-form-autocomplete--2108" class="ud-text-input ud-text-input-small ud-text-sm ud-search-form-autocomplete-input js-header-search-field" fdprocessedid="t6b14">
              </form>
          </div>
      </div>
  </div>
  
  
  
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Development</a></li>
            <li><a class="dropdown-item" href="#">Business</a></li>
            <li><a class="dropdown-item" href="#">Finance & Accounting</a></li>
            <li><a class="dropdown-item" href="#">IT & Software</a></li>
            <li><a class="dropdown-item" href="#">Office Productivity</a></li>
            <li><a class="dropdown-item" href="#">Software Development</a></li>
            <li><a class="dropdown-item" href="#">Data Science</a></li>
            <li><a class="dropdown-item" href="#">Software Engineering</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personal Development</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Personal Transformation</a></li>
                <li><a class="dropdown-item" href="#">Personal Productivity</a></li>
                <li><a class="dropdown-item" href="#">Leadership</a></li>
                <li><a class="dropdown-item" href="#">Career Development</a></li>
               
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Parenting & Relationships</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Parenting</a></li>
                    <li><a class="dropdown-item" href="#">Relationship Building</a></li>
                    <li><a class="dropdown-item" href="#">Couples Counseling</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="#">Happiness</a></li>
                <li><a class="dropdown-item" href="#">Esoteric Practices</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">Design</a></li>
            <li><a class="dropdown-item" href="#">Marketing</a></li>
            <li><a class="dropdown-item" href="#">Lifestyle</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="text-dark" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="text-dark" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="text-dark" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="text-dark" routerLink="signup">Signup/login</a>
        </li>
        <li class="nav-item">
          <a class="text-dark" routerLink="mycourses">Mycourses</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




